<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="homepage">
  <v-app>
    <v-main>
      <v-container>
        <v-alert
        color="purple"
        dark
        border="top"
        icon="mdi-home"
        transition="scale-transition"
        >
        APIs For Food Order App
        </v-alert>
        <!--Auth Apis -->
        <v-alert outlined color="red" >
            <div class="title">
              Authentication
            </div>
            <div>
              <ul>
                <li>User Sign Up : v1/auth/register</li>
                <li>User Sign In : v1/auth/login</li>
              </ul>
            </div>
        </v-alert>
         <!--Auth Apis -->
         <v-alert outlined color="red" >
          <div class="title">
            Register A Cafe
          </div>
          <div>
            <ul>
              <li>Register : v1/shop/add</li>
              <li>Form Input : name, address</li>
              <li>Token Input : cafe [user_id]</li>
            </ul>
          </div>
      </v-alert>
        <!--Category Apis -->
        <v-alert outlined color="purple" >
          <div class="title">
            Item Category 
          </div>
          <div>
            <ul>
              <li>Category List : v1/category</li>
              <li>Category Detail : v1/category/id </li>
              <li>Category Create : v1/category/add </li>
              <li>Form Input : name, address</li>
              <li>Token Input : user [user_id], cafe [cafe_id]</li>
              <li>Category Update : v1/category/id/edit </li>
              <li>Category Delete : v1/category/id/delete </li>
            </ul>
          </div>
        </v-alert>
         <!--Item Apis -->
         <v-alert outlined color="green" >
          <div class="title">
            Items 
          </div>
          <div >
            <ul >
              <li>Item List : v1/item/id/delete</li>
              <li>Item Detail : v1/item/id </li>
              <li>Item Create : v1/item/add </li>
              <li>Item Update : v1/item/id/edit </li>
              <li>Item Delete : v1/item/id/delete </li>
            </ul>
          </div>
        </v-alert>
      </v-container>
    </v-main>
  </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
new Vue({
    el: '#homepage',
    vuetify: new Vuetify(),
    delimiters: ['[[', ']]'],
      data () {
          return {
            alert:'',
          }
      },
  
  })
</script>
</body>
</html>